asgiref==3.8.1
Django==4.2.21
sqlparse==0.5.3
typing_extensions==4.13.2
yt-dlp==2025.4.30
Pillow==10.2.0  # For image processing
requests==2.32.0  # For making HTTP requests
django-cors-headers==4.3.1  # For CORS support